* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contacto {
    min-height: 100vh;

}

.containerForm {

    width: 60%;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    background-color: rgb(239, 234, 179);
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}

.formulario {
    display: grid;
    gap: 1em;

}

h3 {
    font-size: 2em;
    color: blue;
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    margin-top: 5px;
    outline: none;
    font-size: 1em;


}

label {
    font-size: 1.5em;


}

.enviarMail {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cadetblue;
    color: white;
    border: 1px black solid;
    font-size: 1.5em;
    width: 50%;
    margin: auto;

}