.header {
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    height: 110px;
    width: 100%;
}

#mercadolibreimg {
    width: 100px;
    height: 80px;
    padding-top: 20px;
}

.header h1 {
    color: blue;
    font-family: "Nunito Sans";
    font-size: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}